In [1]:
cd desktop

/Users/mac/Desktop

In [10]:
ls

Bakery/
Christopher Final Project.Miron (1).docx
Data science/
Ds projects.docx
Emezie Christopher BA352-262_Final Exam.docx
Grad feedback.docx
Linux/
London dataset.png
MATHS/
ML_Demo_Datasets/
Machine Learning Problem.docx
Misc/
My Cv/
Packages for Machine Learning.docx
Sales_Data/
data/
e_commerce/
lesson links py/
ppt for project.pptx
python bible/
soccer result/
solutions hw day 3/
web course/
word_cloud/
~$ckages for Machine Learning.docx
~$ezie Christopher BA352-262_Final Exam.docx
~$nal Project 2.docx
~$y cv 2.docx

In [11]:
ls ./data

Big.five.csv                        chocolate_ratings.csv
Income.csv                          clubs.csv
Iowa_Liquor_Sales.modified.csv      cupcakes_muffins.csv
Production.Product.csv              international_football_results.csv
Suv_predictions.csv                 music.csv
USA_cars_datasets.csv               pokemon.csv
amazon-orders.csv                   test.csv
avocado.csv                         train.csv
cars.csv                            vgsales.csv

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv("./data/Suv_predictions.csv", sep=(","))
df.head()

    User Id  Gender  Age  Estimated Salary  Purchased
0  15624510    Male   19             19000          0
1  15810944    Male   35             20000          0
2  15668575  Female   26             43000          0
3  15603246  Female   27             57000          0
4  15804002    Male   19             76000          0

In [18]:
# define Independent variable as X and dependent variable as y
X = df.iloc[:,[2,3]].values
y = df.iloc[:,4].values
X

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000]])

In [19]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [37]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [23]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.linear_model import LogisticRegression

In [43]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [30]:
y_pred = classifier.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test, y_pred)

0.0